<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.R47">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.R47.Settings" />
        <activity
            android:name=".RepoNoticeIndexActivity"
            android:exported="false"
            android:label="@string/repo_notice_catalog_title"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/Theme.R47.Settings" />
        <activity
            android:name=".NoticeAssetActivity"
            android:exported="false"
            android:label="@string/repo_notice_asset_fallback_title"
            android:parentActivityName=".RepoNoticeIndexActivity"
            android:theme="@style/Theme.R47.Settings" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:exported="false"
            android:theme="@style/Theme.R47.Settings" />
    </application>

</manifest>
